/******************
*   Main Navbar   *
******************/
.navbar{
    background-color: rgb(124, 124, 124);
    width: 50%;
    margin-left: auto;
    border-top-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
}


ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    li{
        padding: 1rem;
    }

    /* Hover styles for navbar items */
    a:hover{
        color: rgb(242, 255, 61);
    }
    a{
        color: white;
        text-decoration: none;
    }
}