/******************
*   Main Navbar   *
******************/
.navbar{
    background-color: rgb(124, 124, 124);
    width: 50%;
    margin-left: auto;
    border-top-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
}


ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    li{
        padding: 1rem;
    }

    /* Hover styles for navbar items */
    button:hover{
        color: rgb(242, 255, 61);
        cursor: pointer;
    }
    button{
        color: white;
        background-color: rgb(124, 124, 124);
        border: none;
        text-decoration: none;
    }
}

@media (max-width: 1200px){
    .navbar{
        width: 75%;
        button{
            font-size: 0.9rem;
        }
    }
}