#projects{
    display: grid;
    grid-template-areas:
    "hr hr hr"
    "projectstitle projectstitle projectstitle"
    "cards cards cards"
    ". button .";
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.card-container{
    border: 1px solid rgb(138, 19, 168);
    border-radius: 1rem;
    width: auto;
    padding: 0.25rem;
    list-style: none;
    width: 25%;
}

.all-cards{
    display: flex;
    flex-wrap: wrap;
    grid-area: cards;
    justify-content: center;
    gap: 1rem;
    width: auto;
}

.more-projects{
    grid-area: button;
}

.link-container{
    color: white;
    text-decoration: none;
    display: grid;
    grid-template-areas:
    "repoimage"
    "reponame"
    "repodesc"
    "repoupdate";
    text-align: center;
    height: auto;
}

.repo-name{
    grid-area: reponame;
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
    text-decoration: underline;
}

.repo-desc{
    grid-area: repodesc;
    font-size: 1.25rem;
    margin: 0.5rem;
}

.repo-update{
    grid-area: repoupdate;
    font-size: 1rem;
    align-self: end;
    margin: 0.5rem;
}

.repo-image{
    grid-area: repoimage;
    width: 80%;
    margin: auto;
    border-radius: 2rem;
    padding: 1rem;
}

#projects .title{
    margin-bottom: 2rem;
    grid-area: projectstitle;
}

.more-projects{
    font-size: 1.3rem;
    text-decoration: none;
    text-decoration: none;
    text-align: center;
    border-radius: 0.5rem;
    border: 2px solid rgb(212, 167, 212);
    padding: 0.5rem;
    margin-top: 2rem;
    background: linear-gradient(90deg, rgb(255, 108, 255), rgb(155, 0, 155), rgb(255, 198, 255));
    animation: gradientbtn 300ms ease-in-out forwards;
    background-size: 400% 400%;
    animation: none;
	animation: gradient 6s ease infinite;
    color: black;
}


@media screen and (max-width:768px){
    .card-container{
        width: 40%;
    }
    .repo-desc{
        font-size: 1rem;
        margin-bottom: 0;
    }

    .repo-name{
        font-size: 1rem;
        margin-bottom: 0;
    }
    .repo-update{
        font-size: 0.75rem;
    }
    .more-projects{
        font-size: 1rem;
    }
    .repo-image{
        padding: 0.25rem;
    }
}

@media screen and (min-width: 769px){
    .more-projects{
        width: 50%;
        margin: auto;
        margin-top: 2rem;
    }
}

@media screen and (max-width:500px){
    .card-container{
        width: 60%;
    }

    #projects{
        display: grid;
        grid-template-areas:
        "hr hr hr"
        "projectstitle projectstitle projectstitle"
        "cards cards cards"
        "button button button";
        align-items: center;
    }

    .more-projects{
        width: 70%;
        margin: auto;
        margin-top: 2rem;
    }
}