.what-i-do{
    .skills{
        display: flex;
        margin: 0;
        justify-content: center;
        flex-wrap: wrap;
    }
    .section{
        background-color: rgb(46, 46, 46);
        padding: 1rem;
        border-radius: 1.5rem;
        display: flex;
        justify-content: center;
        width: 40%;
        margin: 2.5%;
        img{
            width: 3.25rem;
            margin: auto;
        }
        .subsection{
            margin: auto;
            margin-left: 1rem;
            .skill{
                font-size: 1.4rem; 
                color: white;
                margin: 0;
            }

            .desc{
                color: rgb(207, 207, 207);
                font-size: 1rem;
                margin: 0;
            }
        }
    }
}

@media (max-width: 1200px){
    .what-i-do{
        .skills{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100% !important;
        }
        .section{
            width: 40%;
            margin: 1% 1%;

            img{
                width: 2.5rem;
                height: 4rem;
            }
            .subsection{
                .skill{
                    font-size: 1.25rem;
                }
                p{
                    font-size: 0.75rem;
                }
            }
        }
}
}