#contact{
    width: 100%;
    color: white;
    text-align: center;
    margin: 10vh 0vw;
    padding: 0vh 5vw;
}

.input-container{
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0rem;

    .input{
        width: 40vw;
        margin: auto;
        background-color: black;
        border-color: rgb(155, 0, 155);
        border-radius: 1rem;
        color: white;
        font-size: 1.2rem;
        padding: 10px 10px;
    }
    .label{
        font-size: 1.5rem;
        font-weight: 500;
    }

    .input:focus{
        background-color: rgba(255, 0, 170, 0.247);
    }

    #email{
        width:350px;
        height: 30px;
    }

    #name{
        width: 250px;
        height: 30px;
    }
}

.submit-button{
    background-color: rgba(255, 0, 242, 0.603);
    color: white;
    border-color: rgb(255, 0, 255);
    font-size: 1.2rem;
    padding: .5rem 1.5rem;
    margin: 1rem;
    border-radius: 1rem;
}

@media screen and (max-width: 768px) {
    .input-container{
        .input{
            width: 60vw;
        }
    }
}

@media screen and (max-width: 500px){
    #contact p{
        font-size: 0.9rem;
    }
    .input-container{
        .input{
            width: 80vw;
            font-size: 1rem;
        }
        .label{
            font-size: 1.25rem;
        }
        #email{
            width: 250px;
        }
        #name{
            width: 200px;
        }
    }
}