/**********************
*    Main section     *
**********************/
.home-container{
    display: grid;
    grid-template-columns: 0.05fr 0.20fr 1fr 0.20fr 0.1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;

    grid-template-areas:
    ". . . . ."
    ". quicknav . aboutme ."
    ". quicknav . aboutme socials"
    ". . . . socials"
    ". . . . ."
    ". education education education .";
}

.home-container{
    color: white;
}

.quick-navigation{
    grid-area: quicknav;
    display: flex;
    flex-direction: column;
}

.about-me{
    grid-area: aboutme;
}

.socials{
    grid-area: socials;
    writing-mode: vertical-lr;
    text-orientation: upright;
    justify-content: center;
    text-align: center;
}

.socials-title{
    border-left: 2px solid white;
}

#education{
    grid-area: education;
}

.icons-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.icon{
    transform: scale(2);
    margin: 2rem 1rem
}


/*************************
*    Socials section     *
*************************/






/*************************
*    Buttons section     *
*************************/

.quick-nav-button{
    background-color: black;
    text-decoration: none;
    font-size: 1.1rem;
    text-align: center;

    padding: 0.5rem;
    margin: 1rem;
    border-radius: 2rem;;
    box-shadow: 0rem 0rem 1rem 0.5rem rgb(134, 31, 134, 0.5);
}