#resume-container{
    text-align: center;
    margin: 3rem 0rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title{
        color: white;
        font-family: "Sixtyfour", serif;
        font-optical-sizing: auto;
        font-weight: 400;
        margin: 1rem 0rem;
    }

    .resume-button{
        background-color: rgba(255, 0, 242, 0.603);
        color: white;
        border-color: rgb(255, 0, 255);
        width: 200px;
        font-size: 1.2rem;
        padding: .5rem 1.5rem;
        margin: 1rem;
        border-radius: 1rem;
    }

    .resume-canvas{
        width: 90vw;
    }
}

@media screen and (min-width: 800px){
    #resume-container{
        .resume-canvas{
            width: 40vw;
        }
    }
}