body{
    margin: 0;
    padding: 0;
    background-color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: url('/public/cursor.png'), auto;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    overflow-x: hidden;
    width: 100%;
    scroll-behavior: smooth;
}

li:hover, a:hover{
    cursor: url('/public/pointer.png'), pointer;
}


/* Scrollbar css */
/* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
/** {
  scrollbar-width: thin;
  scrollbar-color: #9329AA #C2C2C2;
}*/

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
    height: 12px;
    width: 12px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 14px;
    background-color: rgb(148, 142, 142, 0.2);
  }
  
  *::-webkit-scrollbar-track:hover {
    background-color: rgb(148, 142, 142, 0.4);
  }
  
  *::-webkit-scrollbar-track:active {
    background-color: rgb(148, 142, 142, 0.4);
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #9329AA;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: #741CA3;
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: #BB31D3;
  }